
@{
    ViewBag.Title = "XemSinhVien";
    Layout = "~/Views/Shared/LAyOutHienThi.cshtml";
}
<style>
    .hienthi{
        text-align:center;
    }
</style>

<h2 class="hienthi">Đây Là Trang Xem Sinh Viên</h2>

