
@{
    ViewBag.Title = "KhoaHocIndex";
    Layout = "~/Views/Shared/LAyOutHienThi.cshtml";
}
<table class="table light">
    <thead class="thead-dark">
        <tr>
            <th>Tên Khóa Học</th>
            <th>Mô Tả</th>
            <th>Đường Links</th>
        </tr>
    </thead>
    <tbody id="tbody_dsDanhMuc">
    </tbody>
</table>

